
/* raleway-regular - latin */
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: url('/../fonts/Parisienne-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Parisienne'), local('Parisienne-Regular'),
       url('../fonts/Parisienne-Regular.ttf') format('truetype');
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Amatic';
  font-style: normal;
  font-weight: 400;
  src: url('/../fonts/AmaticSC-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Amatic'), local('Amatic-Regular'),
       url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

/* raleway-regular - latin */
@font-face {
  font-family: 'GreatVibes';
  font-style: normal;
  font-weight: 400;
  src: url('/../fonts/GreatVibes-Regular.ttf'); /* IE9 Compat Modes */
  src: local('GreatVibes'), local('GreatVibes-Regular'),
       url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0
}

